*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* linear-gradient(to right, rgba(237, 85, 101, 0.7), rgba(218, 68, 83, 0.7)); */
body{
    overflow-x: hidden;
    direction: rtl;
}
/* .form__id{
    position: relative;
    margin: 2.5rem 0;
}
.form__id>label{
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    margin-left: 10px;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-family: inherit;
    display: block;
    background-color: transparent;
    width: 100%;
    border: 1px solid #66a2ff;
    outline: none;
    padding: 10px 0 10px 10px;
    font-size: 2rem;
    color: #000;
    border-radius: 5px;
    text-transform: lowercase;
    -webkit-box-shadow: none;
    box-shadow: none;
}
label {
    pointer-events: none;
    color: #66a2ff;
    background-color: #f5f6fa;
    padding: 5px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    will-change: top;
} */
/* start header */
.header{
    background:url(../images/head.jpg) fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 810px;
    position: relative;
}
.overlay{
    background-color: rgba(98, 185, 235, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.icon1 li{
float: left;
list-style-type: none;
margin-top: 20px;
margin-left: 5px;
margin-bottom: 10px;
}
.icon2 li{
    float: right;
    list-style-type: none;
    margin-right: 13px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.clear-fix{
    clear: both;
}
.line{
    width: 100%;
    height: 1px;
    background-color: rgb(209, 203, 203);
}
.fa-whatsapp{
    color: green;
    margin-right: 10px;
    font-size: 23px;
}
.fa-mobile{
    color: blue;    
    margin-right: 10px;
    font-size: 23px;  
}
.facebook{
    margin-left: 160px;
}
.whats{
    margin-right: 160px;
}    
.icon1 .fa-facebook,
.icon1 .fa-yahoo,
.icon1 .fa-youtube,
.icon1 .fa-twitter,
.fa-paper-plane-o{
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 50%;
    transition: all 0.4s linear;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color: white;
}
.fa-twitter,.fa-facebook,.fa-yahoo{
    background-color: rgb(5, 5, 199);
}
.fa-youtube{
    background-color: rgb(185, 8, 8);
}
.fa-paper-plane-o{
    background-color: rgb(3, 104, 3);
}
.navbar2 h2{
    margin-top: 20px;
    float: right;
    margin-right: 213px;
    color: rgb(3, 3, 104);
    font-size: 35px;
}
.navbar2 span{
    color: rgb(19, 116, 196);
}
.navbar2 li{
    float: left;
    position: relative;
    list-style-type: none;
    margin-top: 30px;
}
.navbar2 li a{ 
    color: rgb(240, 238, 238);
    font-size: 20px;
    margin-left: 19px;
    text-decoration: none;
    transition: all .5s ease-in-out;
}
.navbar2 .first-item{
    margin-left: 100px;
}
.navbar2 img{
    width: 200px;
    margin-top: 20px;
    float: right;
    margin-right: 213px;
    color: rgb(3, 3, 104);
    font-size: 35px;
}
.content .para{
    margin-right: 70px;
    margin-top: 190px;
    color: white;
    float: right;
    font-size: 23px;
    font-family: 'Droid Sans' , sans-serif;
}
.content .para p{
    animation:MoveInRight 4s ease-out;
}
.content .photo{
    margin-top: 120px;
    margin-left: 100px;
    float: left;
    width: 236px;
    animation:MoveInLeft 4s ease-out;
}
.content .photo img{
    width:100%
}
.content button{
    height: 41px;
    width: 180px;
    font-size: 14px;
    background-color: white;
    color: rgb(14, 102, 153);
    border: none;
    outline: none;
    border-radius: 5px;
}
.content .button1{
    margin-top: 26px;
    margin-right: 10px;
}
.fa-apple,.fa-google-wallet{
    margin-left: 8px;
    font-size: 15px;
}
.navbar2 li a:hover{
    color: rgb(3, 3, 104);
}
.content button:hover{
    color: white;
    background-color:rgb(14, 102, 153) ;
}
.pos{
    position: fixed;
    top:0;
    width: 100%;
    z-index:6666;
    color: white;
    background-color:#25C1E7;
}
@keyframes MoveInRight{
    0%{opacity: 0;}
    100%{opacity: 1;}}
@keyframes MoveInLeft{
     0%{opacity: 0;transform: translate(-100%);}
     100%{opacity: 1;transform: translate(0);}}
@keyframes MoveRight{
    0%{opacity: 0;transform: translate(100%);}
    100%{opacity: 1;transform: translate(0);}}

/* end header */
/* start مميزاتنا */
.second{
    background: #f8f8f8;
  
}
.second-h2{
    margin-right: 50%;
    padding-top: 25px;
    padding-bottom: 25px;
    color: rgb(14, 102, 153);
}
.second-p{
    margin-right: 28%;
    font-size: 20px;
    color: gray; 
}
.content1 h2{
    color: rgb(14, 102, 153);
}
.content1 p{
    color: gray; 
    font-size: 18px;  
}
.col1,.col2,.col3{
    float: left;
    margin-top: 81px;
    width: 30%;
}
.col2,.col3{
    margin-left: 3%;
}
.col1{
    margin-left: 10%;
}
.col3{
    margin-left: 67px;
}
.col1-content{
    margin-top: 34px;
    animation:MoveInLeft 8s ease-out;
}
.col3-content{
    margin-top: 34px;
    animation:MoveRight 8s ease-out;
}
.middle{
    margin-top: 167px;
    margin-bottom: 325px;
}
.col2{
    width: 210px;
    height: 600px;
    animation:fadeInUp 8s ease-out;
}
.col2 img{
    width: 100%;
}
.content1,.icon{
    float: left;
}
.icon {
    margin-left: 30px;
    text-align: center;
    border: 1px double #25C1E7;
    width: 54px;
    height: 54px;
    transform: rotate(45deg);
    position: relative;
    padding: 12px 0px;
    transition: .3s;
    color: #25C1E7;
    font-size: 20px;
    margin-bottom: 15px;
    transition: all .5s ease-in-out;
}
.icon .fa {
    font-size: 20px;
    text-align: center;
    transform: rotate(-45deg);
    position: absolute;
    left: 50%;
    margin-left: -12px;
    top: 50%;
    margin-top: -9px;
}
.icon:hover{
    background-color:#25C1E7;
    color: white;
}
/* end مميزاتنا */
/* start about */
.about-photo{
    width: 37%;
    float: left;
    margin-left: 8%;
    margin-top: 50px;
    animation:MoveInLeft 9s ease-out;
}
.about-photo img{
    width: 100%;
}
.about-content{
    float: right;
    margin-top: 113px;
    width: 42%;
    margin-right: 8%;
}
.answer1,.answer2,.answer3{
    color: gray;
    display: none;
}
.question1,.question2,.question3{
    background-color: #069cd6;
    color: white;
    font-size: 11px;
    margin: 10px;
    padding-top: 17px;
    padding-bottom: 35px;
    padding-right: 20px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.question1:hover,.question2:hover,.question3:hover{
background-color: #0a6f97;
}
.question1 h2,.question2 h2,.question3 h2{
    float: right;
}
.about-content-p{
    color: rgb(151, 145, 145);
    margin-bottom: 20px;
    font-size: 17px;
}
.about-content span{
    color:#069cd6;
}
.about-content-h2{
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 27px;
}
/* end about */
/* start application */
.application-h2{
    margin-right: 50%;
 
}
.application-p{
    margin-right: 35%;
    margin-bottom: 36px;
    color: grey;
}
.carousel{
    position: relative;
}
.app1,.app2,.app3{
    background-color: #3eb4e2;
    color:white;
    position: absolute;
    width: 70%;
    margin-right: 15%;
    margin-top: 20px;
}
.app2{background-color: #0a4f7e;}
.app3{background-color: #5f8b9c;}
.app1-img{
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    width: 120px;
    height: 120px;
    margin-right: 39%;
    margin-top: 30px;
}
.app3 img,.app1 img,.app2 img{
    width: 70px;
    margin: 15px;
}
.app-h2{
    margin-right: 43%;
    margin-top: 10px;
    margin-bottom: 18px;
}
.app1-p{
margin-right: 20%;
color: rgb(252, 247, 247);
margin-bottom: 25px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -114px;
    padding: 251px;
    color: white;
    font-weight: bold;
    font-size: 44px;
    transition: 0.6s ease;
  }
  .next {
    margin-right: 64%;
  }
  .prev{
    margin-left: 56%;
  }
 
/* end application */
/* start video */
.video{
    background:#f5f7fb url(../images/video.jpg) fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    position: relative;
    margin-top: 355px;
}
.video-a{
    position: absolute;
    margin-right: 48%;
    margin-top: 16px;
    animation:MoveRight 12s ease-out;
}
.video-h2{
    color: white;
    margin-right:45%;
    font-size: 39px;
    margin-top: 194px;
    animation:MoveInLeft 13s ease-out;
}
.fa-play{
    font-size: 39px;
    margin-right: 31%;
    margin-top: -66px;
    color: #08D4CA;
    z-index: 10;
    position: absolute;
}
.cd-img-replace{
    position: relative;
    z-index: 2;
    display: block;
    width: 97px;
    height: 97px;
    border-radius: 50%;
    background: url(../images/icon-bg.png) no-repeat;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.innerbc {
    position: absolute;
    left: 30px;
    top: 69px;
    font-size: 35px !important;
    line-height: 2.7;
    padding-left: 9px;
    color: #08D4CA;
    z-index: 10;
}
.cd-single-point {
    position: absolute;
    list-style-type: none;
    top: 0;
    left: 0;
    right: 0;
    width: 97px;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    z-index: 0;
    margin-top: 90px;
}
.cd-single-point::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation: cd-pulse 2s infinite;
}
@keyframes cd-pulse {
    0% {
    box-shadow:0 0 0 0 #fff
    }
    100% {
    box-shadow:0 0 0 30px rgba(255,150,44,0)
    }
    }
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* end video */
/* start clients */


.client1{
    width: 19%;
    float: left;
    background: #fff;
    margin-left: 4%;
    box-shadow:-1px -1px 5px 1px rgb(224, 216, 216)
                ,1px 1px 5px 1px rgb(224, 216, 216);
}
.client1 img{
width:100%
}
.c1{
    margin-left: 6%;
    animation:bounceIn 18s;
}
.c2{animation:bounceIn 30s;}
.c3{animation:bounceIn 31s;}
.c4{animation:bounceIn 32s ;}
.c5{ display: none;}
.clients-h2{
    margin-right: 50%;
    margin-top: 70px;
}
.clients-p{
    margin-right: 40%;
    margin-bottom: 80px;
    color: gray;
}
.clients-button{
    margin-right: 45%;
    margin-top: 60px;
    margin-bottom: 70px;
    width: 170px;
    height: 50px;
    background-color: white;
    color: #08D4CA;
    border: 1px solid #08D4CA;
    border-radius: 20px;
    font-size: 17px;
    outline: none;
    transition: all .7s ease-in;
}
.clients-button:hover{
    background-color:#08D4CA;
    color: white;
}
@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3);
    }
    20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
      -webkit-transform: scale3d(.9, .9, .9);
      transform: scale3d(.9, .9, .9);
    }
    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
      -webkit-transform: scale3d(.97, .97, .97);
      transform: scale3d(.97, .97, .97);
    }
    to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
/* end clients */
/* start contact */
.contact{
    background: linear-gradient(#6CCFE7 40%, #32e0c7);
    position: relative;
}
.contact-content{
    width: 40%;
    float: right;
    margin-right: 5%;
    animation:MoveRight 22s ease-out;
}
iframe{
    width: 100%;
    height: 100%;
}
.maps{
    width: 42%;
    height: 299px;
    float: left;
    margin-left: 5%;
    animation:MoveInLeft 22s ease-out;
}
.contact-h2{
    padding-top: 46px;
    padding-bottom: 10px;
    color: white;
    margin-right: 50%;
}
.line1::before {
    content: '';
    position: absolute;
    z-index: 0;
    height: 2px;
    background: #2c465b;
    right: 71px;
    width: 40px;
}
.contact-p{
    color: white;
    margin-right: 40%;
    margin-bottom: 70px;
}
.contact1 h2{
color: white;
margin-bottom: 5px;
margin-top: 17px;
}
.line1{
    background-color: rgb(194, 194, 194);
    height: 1px;
    margin-bottom: 19px;

}
.contact1 a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-bottom:19px ;
}
.contact1-p{
    color: white;
}
.fa-map-marker,.fa-whatsapp,.fa-phone,.fa-envelope-o{
    color: black;
    margin-right: 5px;
}
.contact1 a:hover{
    color: black;
}
.contact-button{
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: 50px;
    margin-bottom: 50px;
    outline: none;
    background-color: #00b1d5;
    cursor: pointer;
    transition: all .6s ease-in-out;
}
.contact-button:hover{
    background-color: #04697e; 
}
/* end contact */
/* start services */
.services{
    /* background: #f8f8f8; */
    background: url(../images/animated-bg.png) fixed;
    background-repeat: repeat;
    padding-bottom: 90px;
    animation:animatedBackground 10s linear infinite ; 
}
@keyframes animatedBackground{
    from{background-position:0 0}
    to{background-position:100% 0}}
.services-h2{
    padding-top: 40px;
    margin-right: 50%;
    color:#223843;
}
.services-p{
    margin-right: 40%;
    margin-bottom: 60px;
}
.ser1{
    width: 25%;
    float: left;
    margin-left: 2%;
    background-color: white;
    border: 1px solid #ddd;
}
.ser1 img{
    width: 98%;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
}
.s1{
    margin-left: 10%;
    animation:fadeInUp 16s ease-out;
}
.s2{animation:fadeInUp 18s ease-out;}
.s3{animation:fadeInUp 20s ease-out;}
.ser1 h2{
    margin-top: 10px;
    margin-right: 8px;
    margin-bottom: 7px;
     color: #223843;
}
.ser1 p{
    color: gray;
    opacity: .8;
    margin-right: 8px;
    margin-bottom: 10px;
}
.ser1 button{
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 90px;
    height: 30px;
    color: white;
    background-color:#3eb4e2;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .6s ease-in-out;
}
.ser1 button:hover{
    background-color:#034b68;
}
@keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
/* end services */
/* start footer */
.footer{
    background: rgb(58, 56, 56);
}
.footer p{
    margin-right: 40%;
    color:white;
    padding: 20px;
    animation:MoveInLeft 24s ease-out;
}
.footer-a{
    color:#3eb4e2 ;
}
.footer-icon li{
    float: left;
    list-style-type: none;
    padding-bottom:50px;
    animation:MoveRight 22s ease-out;
}
.footer-icon a{
margin-left: 18px;
}
.face{
    margin-left: 37%;
}
.footer .fa-facebook,
.footer .fa-yahoo,
.footer .fa-youtube,
.footer .fa-twitter{
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 50%;
    transition: all 0.4s linear;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    color: white;
}
.scroll{
    position: relative;
}
.scrollToTop {
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    padding: 7px 14px;
    z-index: 1000;
    font-size: 30px !important;
    text-align: center;
    color: #fff;
    background: #3EDCCE;
}
.whats-fixed {
    position: relative;
}
.whats-fixed a {
    position: fixed;
    width: 60px;
    height: 60px;
    line-height: 60px;
    bottom: 10px;
    left: 10px;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 0 0 #999;
    background-color: #25d366;
}
.whats-fixed a i {
    padding-right: 0px!important;
    font-size: 30px;
    padding-top: 14px;
    color: white;
    line-height: 29px
}
/* end footer */






































